@import '@/uni_modules/uni-scss/variables.scss';
$base-bgc:#009ad6;
$base-color:#fff;
uni-app{
	background-color: $base-bgc;
	font-size: 34upx;
}
.container{
	color:#fff;
	border-top:1upx solid $base-color;
	font-size: 34upx;
	height: 100vh;
}
.bg-base{
	background-color: $base-bgc;
}
.bg-ff{
	background-color: #fff;
}
uni-button[type=default] {
	background:none;
	border:1upx solid $base-color;
	color:$base-color;
}

//表格样式
.base-table{
	margin-top:30upx;
	.uni-table{
		background: none;
		.uni-table-th{
			padding:0;
			color:$base-color;
		}
		.uni-table-td{
			padding:8upx 10upx;
			color:$base-color;
		}
	}
}

//底部按钮
.btns-box{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top:22upx;
	padding-bottom: 22upx;
	border-top:1upx solid #fff;
	background-color:$base-bgc;
}
.flex-btw{
	display: flex;
	justify-content: space-between;
}
//弹出框表单
.dialog-form{
	background-color: #009ad6;
	padding-top:30upx;
	border-radius: 20upx;
}
.uni-form-item{
	padding:20upx 50upx;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.uni-input{
	border:1upx solid #fff;
	padding:8upx 10upx;
	border-radius: 8upx;
}
.form-btns-box{
	display: flex;
	height: 80upx;
	line-height: 80upx;
	border-top: 1rpx solid #fff;
}
.btn-sure{
	color:#07c160;
	border-left:1upx solid #fff;
}
.pass-btn{
	width: 50%;
	text-align: center;
}
.base-table{
	height: 100vh;
	width: 100%;
    margin-bottom: 120upx;
}