
	.w-cells{
		width: 100%;
	}
	.w-cell{
		display: flex;
		margin:10upx 16upx;
		border-bottom:1upx solid #E1E1E1;
		padding:10upx 16upx;
	}
	.item-hd{
		color:#303133;
		width: 360upx;;
	}
	.item-bd{
		color:#000;
	}